.mt-dialog__procedure-types {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.mt-dialog__chart-wrapper {
  padding: 24px 0;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.mt-dialog__chart-title {
  font-size: 18px;
  padding: 24px 0 0;
}

.mt-dialog__clinic-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 400;
}

.mt-dialog__opening-hours {
  font-weight: 600;
}

.mt-dialog__opening-hours-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
