.mt-dialog__procedure-types {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.mt-dialog__chart-wrapper {
  padding: 24px 0;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.mt-dialog__chart-title {
  font-size: 18px;
  padding: 16px 0 0;
}
