:host {
  display: block;
}

.mt-card__info-text {
  font-size: 14px;
  font-weight: 400;
}

.mt-card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0 16px;
  gap: 12px;
}

.mt-card__info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.mt-card__estimated-value {
  font-size: 14px;
  font-weight: 700;
}

.mt-card__procedure-types {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 8px;
}

.mt-card__tag {
  font-size: 12px;
}
